.background {
    display: flex;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: -1500px;
    min-height: auto;
}

.skin {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 340px;
}

.home {
    display: flex;
    justify-content: center;
    position: relative;
}

.category {
    position: absolute;
    left: 17px;
    top: 310px;
    color: lightyellow;
}

.ad {
    position: absolute;
    width: 100%;
}