.Bee {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 340px;
}

.home {
    display: flex;
    justify-content: center;
    position: relative;
}

.category1 {
    position: absolute;
    left: 17px;
    top: 310px;
    color: black;
}

.ad {
    position: absolute;
    width: 100%;
}

.ad > img {
    width: 100%;
}

.starGuardian {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 700px;
}

.category2 {
    position: absolute;
    left: 17px;
    top: 670px;
    color: black;
}